.form {
  width: 480px;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
