.wrapper {
  max-width: 600px;
  max-height: inherit;
}

.layers {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toppings {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.topping {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.pricing {
  display: flex;
  max-height: 100%;
  align-items: center;
  justify-content: flex-end;
}
