.wrapper {
  min-width: 1280px;
  display: flex;
  column-gap: 40px;
  justify-content: center;
  height: calc(100vh - 200px);
}

.ingredient {
  width: 720px;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
